*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 400;
}

.size12-15{
    font-size: 12px;
    line-height: 15px;
}

.size15-15{
    font-size: 15px;
    line-height: 15px;
}

.size-15-20{
    font-size: 15px;
    line-height: 20px;
}

.size15-25{
    font-size: 15px;
    line-height: 25px;
}

.size16-45-600{
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
}

.size16-60{
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
}

.size16-60-600{
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
}

.size17-60-600{
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
}

.size18-25{
    font-size: 18px;
    line-height: 25px;
}

.size20-25-600{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.size20-30{
    font-size: 20px;
    line-height: 30px;
}

.size20-30-600{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.size25-30{
    font-size: 25px;
    line-height: 30px;
}

.size25-35{
    font-size: 25px;
    line-height: 35px;
}

.size25-35-600{
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
}

.size30-40{
    font-size: 30px;
    line-height: 40px;
}

.size30-40-600{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

.size35-50-600{
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}

.size40-50-600{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}

.size50-60-600{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.size65-70-600{
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
}

.size65-75-600{
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
}

.content{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: flex-start;
}

.logo-link{
    margin: 34px 0 0 51px;
}

.header-nav{
    margin: 39px 0 0 51px;
}

.header-nav-list{
    display:flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav-list-item-link{
    text-decoration: none;
    color: #000000;
    padding-right: 57px;
}

.header-nav-list-item-link-last{
    text-decoration: none;
    color: #000000;
}

.header-nav-list-item:hover .header-nav-list-item-link{
    color: rgb(245, 88, 60);
}

.header-nav-list-item:hover .header-nav-list-item-link-last{
    color: rgb(245, 88, 60);
}

.header-button-login{
    width: 120px;
    border: 1px solid #808080;
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 13px 0 13px 0;
    margin-left: auto;
    margin-top:25px;
    font-weight: 600;
    font-size: 16px;
}

.header-button-login:hover{
    background-color: rgb(245, 88, 60);
}

.header-button-trial{
    display: block;
    width: 120px;
    border: 1px solid #FFFFFF;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 13px 0 13px 0;
    margin: 25px 51px 25px 10px;
    background-color: #FF6336;
    font-weight: 600;
    font-size: 16px;
}

.header-button-trial:hover{
    background-color: rgb(198, 209, 95);
}

.promo{
    display: flex;
}

.promo-text{
    margin: 128px 0 0 75px;
    width: 534px;
}

.promo-text-article{
    width: 471px;
    margin-top: 51px;
}

.promo-button-trial{
    width: 160px;
    display: inline-block;
    background-color: #FF6336;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    padding: 22px 0 22px 0;
    margin: 55px 10px 0 0;
    font-weight: 600;
    font-size: 16px;
}

.promo-button-trial:hover{
    background-color: rgb(198, 209, 95);
}

.promo-button-demo{
    display: inline-block;
    border: 1px solid #808080;
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 22px 0 22px 0;
    margin: 0px 0px 0 0px;
    width: 160px;
    font-weight: 600;
    font-size: 16px;
    
}

.promo-button-demo:hover{
    background-color: rgb(245, 88, 60);
}

.promo-text-footer{
    margin-top: 25px;
}

.promo-img{
    margin-top: 151px;
    margin-bottom: 182px;
}

.special{
    background-color: #FF9C7D;
    padding-top: 115px;
    padding-bottom: 103px;
}

.special-header{
    text-align: center;
    color: #000000;
    width: 634px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 76px;
}

.special-companies{
    width: 1290px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.present{
    padding-bottom: 150px;
}

.metric{
    display: flex;
    padding-top: 90px;
    margin-left: 75px;
}

.metric-text{
    width: 632px;
}

.metric-text-header{
    width: 493px;
    margin-top: 151px;
}

.metric-text-article{
    width: 493px;
    margin-top: 30px;
}

.underline{
    text-decoration: underline;
}

.applications{
    display: flex;
    padding-top: 250px;
    margin-left: 75px;
}

.applications-text{
    width: 632px;
    margin-left: 138px;
}

.applications-text-header{
    width: 379px;
    margin-top: 151px;
}

.applications-text-article{
    width: 493px;
    margin-top: 46px;
}

.qa{
    display: flex;
    padding-top: 250px;
    margin-left: 75px;
}

.qa-text{
    width: 632px;
}

.qa-text-header{
    width: 493px;
    margin-top: 151px;
}

.qa-text-article{
    width: 493px;
    margin-top: 38px;
}

.develop{
    display: flex;
    padding-top: 250px;
    margin-left: 75px;
}

.develop-text{
    width: 517px;
    margin-left: 138px;
}

.develop-text-header{
    width: 330px;
    margin-top: 130px;
}

.develop-text-article{
    width: 520px;
    margin-top: 33px;
}

.start-link{
    display: inline-block;
    color: #000000;
    margin-top: 35px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.start-link:hover{
    background-color: rgb(245, 88, 60);
}

.possibilities{
    background-color: #FFF8E4;
    padding-bottom: 150px;
}

.possibilities-header{
    width: 890px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    text-align: center;
}

.possibilities-row{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    margin-bottom: 57px;
}

.possibilities-card{
    width: 330px;
}

.possibilities-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.possibilities-card-header{
    text-align: center;
    margin:26px 0 20px 0;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
}

.possibilities-card-article{
    width: 303px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 25px;
}

.target-audience{
    height: 1065px;
}

.target-audience-header{
    padding-top: 154px;
    margin-left: 75px;
}

.target-row{
    margin-top: 75px;
    margin-left: 75px;
    display: flex;
    justify-content: space-between;
}

.target-card{
    width: 407px;
}

.target-card-header{
    margin-top: 49px;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

.target-card-article{
    margin-top: 34px;
    font-size: 20px;
    line-height: 30px;
}

.target-card-link{
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}

.target-learn-link{
    display:inline-block;
    margin-top: 25px;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}

.target-learn-link:hover{
    background-color: rgb(245, 88, 60);
}

.target-card-image{
    display: inline-block;
    vertical-align: middle;
    height: 201px;
    line-height: 201px;
    text-align: center;
}

.target-card-image .target-img{
    vertical-align: middle;
}

.ceo{
    background-color: #C9E8F2;
    padding-bottom:105px;
}

.ceo-row{
    display: flex;
    width: 1290px;
    padding-top: 53px;
    margin-left:auto;
    margin-right: auto;
    justify-content: space-between;
}

.ceo-text-article{
    margin-top: 15px;
    width: 895px;
}

.ceo-sign{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin-top:23px;
}

.ceo-revolut{
    margin-top:7px;
}

.grade{
    display:flex;
    align-items: flex-start;
    padding-bottom: 80px;
}

.grade-background{
    background-color: #DABC98;
}

.pie{
    display:block;
    margin: 89px 67px 0 54px;
}

.grade-article{
    display:block;
    width: 461px;
    margin:116px 125px 0 0;
}

.grade-rate{
    border-left:#000000 1px solid;
    margin-top:79px;
}

.integrate{
    padding-bottom:162px;
}

.integrate-header{
    width: 791px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
}

.integrate-article{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 539px;
}

.integrate-img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.integrate-button{
    width: 193px;
    display: block;
    background-color: #FF6336;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 32px;
    margin-left:auto;
    margin-right:auto;
}

.integrate-button:hover{
    background-color: rgb(198, 209, 95);
}

.trial{
    background-color: #FF9C7D;
    padding-bottom: 163px;
}

.trial-header{
    width: 784px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 119px;
}

.trial-article{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 438px;
    margin-top: 29px;
}

.trial-button{
    width: 160px;
    display: block;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 54px;
    margin-left:auto;
    margin-right:auto;
}

.trial-button:hover{
    background-color: rgb(198, 209, 95);
}

.additional{
    background-color:#EEEEEE;
    padding-top: 92px;
}

.case{
    width: 1290px;
    padding-bottom: 100px;
    border-bottom: 1px solid #000000;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.case-studies{
    width: 300px;
}

.case-card{
    width: 170px;
}

.case-img{
    margin-top: 28px;
}

.case-icon{
    margin-top: 31px;
}

.case-article{
    margin-top:11px;
}

.case-read-link{
    display: inline-block;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
}

.case-read-link:hover{
    background-color: rgb(245, 88, 60);
}

.card-header{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.card-nav{
    margin-top: 21px;
}

.card-nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.card-nav-list-item{
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 15px;
}

.card-nav-list-item-link{
    text-decoration: none;
    color: #000000;
}

.card-nav-list-item:hover .card-nav-list-item-link{
    color: rgb(245, 88, 60);
}

.card-nav-list-item:hover .card-nav-list-item-link-last{
    color: rgb(245, 88, 60);
}

.footer{
    display: flex;
}

.logo-link-footer{
    margin-left:75px;
    margin-top:48px;
}

.footer-background{
    background-color: #EEEEEE;
}

.footer-article{
    width: 270px;
    padding-bottom: 43px;
    margin-left: 14px;
    margin-top: 48px;
}

.copyright{
    margin-left: auto;
    margin-top: 48px;
    margin-right: 150px;
}

